<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>Worker threw exception | ScriptGuardian | Cloudflare</title>
    <link rel="stylesheet" href="/cdn-cgi/styles/cf.errors.css">
    <script>
        function getCurrentTime() {
            var currentDate = new Date();
            var year = currentDate.getUTCFullYear();
            var month = (currentDate.getUTCMonth() + 1).toString().padStart(2, '0');
            var day = currentDate.getUTCDate().toString().padStart(2, '0');
            var hours = currentDate.getUTCHours().toString().padStart(2, '0');
            var minutes = currentDate.getUTCMinutes().toString().padStart(2, '0');

            return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ' UTC';
        }
    </script>
</head>
<body>
    <div id="cf-wrapper">
        <div class="cf-alert cf-alert-error cf-cookie-error" id="cookie-alert">Please enable cookies.</div>
        <div id="cf-error-details" class="cf-error-details-wrapper">
            <div class="cf-wrapper cf-header cf-error-overview">
                <h1>
                    <span class="cf-error-type">Error</span>
                    <span class="cf-error-code">1101</span>
                    <small class="heading-ray-id">Ray ID: 937bb1cdc8c7cf23 &bull; <script>document.write(getCurrentTime());</script></small>
                </h1>
                <h2 class="cf-subheadline">Worker threw exception</h2>
            </div>
        </div>
    </div>
</body>
</html>
